.form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.field {
  + .field {
    margin-top: sz(3);
  }
}

.row {
  display: flex;
  margin-top: sz(3);

  .field + .field {
    margin-top: 0;
    margin-left: sz(3);
  }
}

.color-option {
  align-items: center;
  display: flex;
  flex-direction: column;

  &::before {
    @include size(sz(4));
    border-radius: sz(1);
    content: '';
    display: flex;
    background-color: c('bg');
    border: 1px solid c('white');
    @include margin(sz(1) x sz(1));
  }
}

.actions {
  @include sticky(x x 0);
  align-items: flex-end;
  background-color: c('bg', 0.7);
  display: flex;
  flex: 1;
  margin-top: sz(4);
  padding-bottom: sz(5);

  button {
    width: 100%;
  }
}
