@keyframes popover-enter {
  from {
    opacity: 0;
    transform: translateY(var(--translate-y, 0)) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes popover-leave {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  to {
    opacity: 0;
    transform: translateY(var(--translate-y, 0)) scale(0.95);
  }
}

$popover-anim-duration: 150ms;

.popover {
  border-radius: sz(3);
  background-color: c('gray');
  border: 1px solid c('gray');
  overflow: hidden;
  transform-origin: var(--radix-popover-content-transform-origin);
  width: sz(96);
  z-index: $z-popover;

  &[data-side='top'] {
    --translate-y: #{sz(1)};
  }

  &[data-side='bottom'] {
    --translate-y: #{sz(-1)};
  }

  &[data-state='open'] {
    animation: popover-enter $popover-anim-duration ease-out forwards 1;
  }

  &[data-state='closed'] {
    animation: popover-leave $popover-anim-duration ease-out forwards 1;
  }
}

.popover__header {
  @include padding(sz(2) sz(2) sz(2));
  background-color: c('white');
  margin-bottom: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    @include margin(sz(1) sz(2) x sz(2));
    font-family: $ff-serif;
    line-height: 1;
    font-size: $fs-xl;
  }
}

.popover__body {
  @include padding(sz(3) sz(4) sz(4));
  background-color: c('white');
  position: relative;
}

:export {
  varAnimDuration: $popover-anim-duration;
  varSideOffset: sz(2, $convert: 'px');
}
