.form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.field {
  + .field {
    margin-top: sz(3);
  }
}

.field-headshot {
  @include padding(sz(2));
  align-items: center;
  border: 1px solid c('border', 0.2);
  border-radius: sz(3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 150ms ease-out;
  width: 100%;

  @media (hover: hover) {
    &:hover {
      border: 1px solid c('border', 0.4);
    }
  }

  &[data-dropping='true'],
  &:focus-within {
    border: 1px solid c('border', 1);
  }
}

.field-headshot__input {
  box-shadow: inset 0 0 0 0 c('border', 0.4);
  align-items: center;
  background-color: c('bg-tint');
  border-radius: sz(2);
  color: c('secondary-text');
  cursor: pointer;
  display: flex;
  height: sz(48);
  justify-content: center;
  text-align: center;
  width: 100%;
}

.field-headshot__preview {
  @include margin(sz(2) x);
  aspect-ratio: 3 / 4;
  border-radius: 50%;
  height: sz(44);
  background-color: c('bg-tint');
  position: relative;
  overflow: hidden;

  img {
    @include absolute(0);
    @include size(100%);
    object-fit: cover;
    object-position: center center;
  }
}

.field-headshot__change {
  width: 100%;
  margin-top: sz(2);
}

.legend {
  @include label;
}

.separator {
  @include margin(sz(5) x sz(4));
  border-color: c('border', 0.2);
}

.danger-zone__label {
  color: c('secondary-text');
  margin-bottom: sz(0.5);
}

.danger-zone__hint {
  @include label;
  margin-bottom: sz(3);
}

.danger-zone__action {
  width: 100%;
}

.actions {
  @include sticky(x x 0);
  align-items: flex-end;
  background-color: c('bg', 0.7);
  display: flex;
  flex: 1;
  margin-top: sz(4);
  padding-bottom: sz(5);

  button {
    width: 100%;
  }
}
