@import '../root-abstracts';

.active-content {
  align-items: center;
  justify-content: center;

  @include mq(max, $bp-active-area) {
    @include sticky(0 x x);
    backdrop-filter: blur(2px);
    background-color: c('bg', 0.7);
    display: flex;
    justify-content: center;
    margin-bottom: sz(4);
    padding-bottom: sz(4);
    height: 250px;
    width: calc(100% + #{sz(4)} * 2);
    transform: translateX(sz(-4));
    z-index: 2;

    &::after {
      @include absolute(x 0 sz(-4));
      backdrop-filter: blur(2px);
      background-color: c('bg', 0.7);
      content: '';
      height: sz(4);
      mask-image: scrim-gradient(to top, 'bg');
      pointer-events: none;
    }
  }
}

.preview {
  @include size(100%);

  @include mq($bp-active-area) {
    @include size(calc(100% - #{sz(6)} * 2));
  }
}

.section {
  @include padding(sz(3) sz(4));
  border: 1px solid c('border', 0.2);
  border-radius: sz(2.5);
  position: relative;
  margin-bottom: sz(4);
  width: 100%;
  min-height: sz(20);

  @include with-motion {
    transition: 150ms ease-out;
  }

  @media (hover: hover) {
    &:hover {
      border: 1px solid c('border', 0.4);
    }
  }

  &:focus-within {
    border: 1px solid c('border');
  }

  dl {
    dt {
      @include label;
      margin-bottom: sz(0.5);
    }

    dd {
      color: c('secondary-text');
    }

    dt,
    dd {
      line-height: 1.2;
    }

    dd + dt {
      margin-top: sz(2);
    }
  }
}

.section__header {
  align-items: center;
  display: flex;
  justify-content: space-between;

  h4 {
    font-weight: 500;
    margin-bottom: sz(2);
  }
}

.section__edit {
  @include margin(sz(-2) sz(-1.5) x x);
}
