.root {
  @include fixed(0);
  background-color: c('bg');
  color: c('text');
  display: flex;
}

.form-area {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  @include padding(sz(3) sz(2));
  align-items: center;
  border-bottom: 1px solid c('text', 0.5);
  display: flex;
  position: relative;

  &::after {
    @include absolute(x x -1px 0);
    background-color: c('text');
    box-shadow: 2px 0 0 0 c('bg');
    content: '';
    height: 1px;
    width: calc(100% * var(--stepper-progress));
  }
}

.header__close {
  position: absolute;
}

.header__titles {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
}

.header__titles__main {
  font-size: $fs-sm;
  line-height: 1;
  margin-bottom: sz(1.5);
}

.header__titles__sub {
  color: c('secondary-text');
  font-size: $fs-xs;
  line-height: 1;
}

.content {
  @include padding(sz(4) sz(4) x);
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}

.content__title {
  font-size: $fs-2xl;
}

.content__description {
  color: c('secondary-text');
}

.form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form__actions {
  @include sticky(x x 0 x);
  @include padding(sz(4) x);
  align-items: flex-end;
  display: flex;
  flex: 1;
  width: 100%;

  &::after {
    @include absolute(50% 0 0);
    background-color: c('bg', 0.75);
    backdrop-filter: blur(2px);
    content: '';
  }

  button {
    flex: 1;
    z-index: 2;

    + button {
      margin-left: sz(2);
    }
  }
}

$form-area-min-width: 400px;
$active-area-min-width: 450px;

$bp-with-active-area: $form-area-min-width + $active-area-min-width;
@include mq($bp-with-active-area) {
  .active-area {
    display: flex;
    flex: 2;
    min-width: $active-area-min-width;
  }

  .form-area {
    min-width: $form-area-min-width;
  }

  .active-content {
    @include absolute(0 x 0 0);
    background-color: c('bg-tint');
    border-right: 1px solid c('text');
    overflow-y: auto;
    width: min(calc(100vw - #{$form-area-min-width}), calc(200% / 3));
  }
}
