@import 'root-abstracts';

.root {
  @include fixed(0);
  background-color: c('bg');
  color: c('text');
  display: flex;
}

.form-area {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  @include padding(sz(3) sz(2));
  align-items: center;
  border-bottom: 1px solid c('border', 0.4);
  display: flex;
  position: relative;

  &::after {
    @include absolute(x x -1px 0);
    background-color: c('border');
    box-shadow: 2px 0 0 0 c('bg');
    content: '';
    height: 1px;
    transform: translateX(calc(-100% * (1 - var(--stepper-progress))));
    width: 100%;

    @include with-motion {
      transition: 300ms $ease-out-circ;
    }
  }
}

.header__close {
  position: absolute;
  z-index: 2;
}

.header__titles {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
}

.header__titles__main {
  font-size: $fs-sm;
  line-height: 1;
  margin-bottom: sz(1);
}

.header__titles__sub {
  color: c('secondary-text');
  display: flex;
  flex-direction: column;
  font-size: $fs-xs;
  line-height: 1;
  position: relative;
  width: 100%;

  span:nth-child(1) {
    @include absolute(0 0 x);
    transform: translateY(30%);
    opacity: 0;
  }

  @include with-motion {
    span:nth-child(1) {
      transition: 150ms ease-out;
    }

    span:nth-child(2) {
      transition: 150ms 75ms ease-out;
    }
  }

  &.header__titles__sub--reveal {
    span:nth-child(1) {
      transform: translateY(0);
      opacity: 1;
    }

    span:nth-child(2) {
      transform: translateY(-30%);
      opacity: 0;
    }

    @include with-motion {
      span:nth-child(1) {
        transition: 150ms 75ms ease-out;
      }

      span:nth-child(2) {
        transition: 150ms ease-out;
      }
    }
  }
}

.content {
  @include padding(sz(4) sz(4) x);
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}

.content__title {
  font-size: $fs-2xl;
}

.content__description {
  color: c('secondary-text');
  margin-bottom: sz(4);
}

.form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex: 1;

  // input,
  // textarea,
  // select {
  //   background-color: c('bg-tint');
  // }
}

.form__actions {
  @include sticky(x x 0 x);
  @include padding(sz(4) x);
  align-items: flex-end;
  display: flex;
  flex: 1;
  width: 100%;

  &::before {
    @include absolute(0 sz(-4) x);
    backdrop-filter: blur(2px);
    background-color: c('bg', 0.7);
    height: sz(6.5);
    mask-image: scrim-gradient(to bottom, 'bg');
    content: '';
  }

  &::after {
    @include absolute(sz(6.5) sz(-4) 0);
    backdrop-filter: blur(2px);
    background-color: c('bg', 0.7);
    content: '';
  }

  button {
    flex: 1;
    z-index: 2;

    + button {
      margin-left: sz(2);
    }
  }
}

@include mq($bp-active-area) {
  .active-area {
    border-right: 1px solid c('border');
    display: flex;
    flex: 2;
    min-width: $active-area-min-width;
  }

  .form-area {
    min-width: $form-area-min-width;
  }

  .active-content {
    @include absolute(0 x 0 0);
    background-color: c('bg-tint');
    overflow-y: auto;
    width: min(calc(100vw - #{$form-area-min-width} - 1px), calc(200% / 3 - 1px));
  }
}

:export {
  varContentMargin: sz(4, 'px') sz(4, 'px') 0px sz(4, 'px');
}
