{
  "extends": ["@upstatement/eslint-config/react", "plugin:promise/recommended"],
  "plugins": ["import", "promise"],
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "no-console": "off",
    "no-empty-function": "off",
    "promise/prefer-await-to-then": "error",
    "react/react-in-jsx-scope": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/no-onchange": "off",
    "jsx-a11y/no-interactive-element-to-noninteractive-role": [
      "error",
      {
        "canvas": ["none", "img"]
      }
    ]
  },
  "overrides": [
    {
      "files": ["*.ts?(x)"],
      "extends": "plugin:@typescript-eslint/recommended",
      "plugins": ["@typescript-eslint"],
      "parser": "@typescript-eslint/parser",
      "rules": {
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": ["error"],
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/interface-name-prefix": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "no-useless-constructor": "off",
        "@typescript-eslint/camelcase": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/no-empty-function": "off",
        "react/prop-types": "off",
        "import/first": "error",
        "import/no-relative-parent-imports": "error",
        "import/newline-after-import": "error",
        // https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/order.md
        "import/order": [
          "error",
          {
            "alphabetize": {
              "order": "asc",
              "caseInsensitive": false
            },
            "groups": ["builtin", "external", "internal", "index", "sibling"],
            "newlines-between": "never",
            "pathGroups": [
              {
                "pattern": "react",
                "group": "external",
                "position": "before"
              },
              {
                "pattern": "react-dom",
                "group": "external",
                "position": "before"
              },
              {
                "pattern": "next",
                "group": "external",
                "position": "before"
              },
              {
                "pattern": "next/**",
                "group": "external",
                "position": "before"
              },
              {
                "pattern": "twin.macro",
                "group": "external",
                "position": "before"
              },
              {
                "pattern": "@src/**",
                "group": "internal"
              },
              {
                "pattern": "*.css",
                "group": "sibling",
                "position": "after"
              }
            ],
            "pathGroupsExcludedImportTypes": ["builtin"]
          }
        ]
      }
    }
  ]
}
