.page {
  background-color: c('bg');
  color: c('text');
  display: flex;
  flex: 1;
  overflow-x: auto;

  // Hide the scrollbar
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}

.header {
  @include sticky($nav-height x x x);
  @include padding(sz(4));
  align-items: flex-start;
  display: flex;
  width: calc(100% / 3);
  flex-shrink: 0;
  flex-direction: column;
  height: calc(100vh - #{$nav-height});
  min-width: 400px;
  max-width: 550px;
}

.museum {
  @include padding(sz(0.5) sz(1));
  font-size: $fs-sm;
  border-radius: sz(2);
  margin-bottom: sz(0.5);

  @include with-motion {
    transition: 150ms ease-out;
    transition-property: background-color, box-shadow;
  }

  &:focus {
    @include outline-none;
    background-color: c('bg-tint');
    box-shadow: inset 0 0 0 1px c('border', 0.2);
  }
}

.title {
  @include h1;
}

.user-tag {
  margin-left: sz(1);
  margin-bottom: sz(1);
}

.established {
  @include small;
  margin-top: sz(0.5);
  margin-bottom: sz(4);
}

.actions {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: sz(4);
}

.actions__item {
  + .actions__item {
    margin-top: sz(2);
  }
}

.main {
  display: flex;
  flex: 2;
  padding-left: sz(4);
  position: relative;
}

.empty-state {
  @include padding(sz(4));
  align-items: center;
  color: c('secondary-text');
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.empty-state__illo {
  color: c('illustration');
  margin-bottom: sz(5);
  width: min(100%, #{sz(50)});

  svg {
    stroke-width: 1.2;
  }
}

.empty-state__text {
  margin-bottom: sz(3);
}

.empty-state__action {
  @media (hover: hover) {
    &:hover {
      color: c('text', 0.5);
    }
  }

  &:focus {
    color: c('text');
  }
}

.grid {
  width: 100%;
}
