.form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.field {
  + .field {
    margin-top: sz(3);
  }
}

.legend {
  @include label;
}

.actions {
  @include sticky(x x 0);
  align-items: flex-end;
  background-color: c('bg', 0.7);
  display: flex;
  flex: 1;
  margin-top: sz(4);
  padding-bottom: sz(5);

  button {
    width: 100%;
  }
}
