.button {
  position: relative;

  &::before {
    @include absolute(0);
    background-color: c('bg');
    border-radius: sz(2.5);
    content: '';
    z-index: -1;
  }

  &:not(:disabled):focus {
    @include outline-none;
  }
}

.inner {
  @include padding(sz(1.25) sz(3));
  align-items: center;
  border-radius: sz(2.5);
  display: flex;
  justify-content: center;

  @include with-motion {
    transition: 150ms ease;
  }

  .button:disabled & {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .button--large & {
    @include padding(sz(3) sz(4));
  }

  .button--filled & {
    background-color: c('border');
    box-shadow: inset 0 0 0 1px c('border');
    color: c('bg');
  }

  .button:not(.button--filled) & {
    box-shadow: inset 0 0 0 1px c('border', 0.2);
  }

  .button:not(.button--filled):not(:disabled):hover & {
    background-color: c('bg-tint');
    box-shadow: inset 0 0 0 1px c('border', 0.4);
  }

  .button:not(.button--filled):not(:disabled):focus & {
    background-color: c('bg-tint');
    box-shadow: inset 0 0 0 1px c('border');
  }
}
