.wrapper {
  @include size(56px);
  align-items: center;
  background-color: $c-white;
  border: 0;
  border-radius: 50%;
  box-shadow: $shadow-sm;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.icon {
  @include size(60%);
  color: #4e533f;
}
