.button {
  @include size(sz(14));
  align-items: center;
  background-color: c('white');
  border-radius: 50%;
  box-shadow: 0 0 0 1px c('border', 0), $shadow-lg;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: box-shadow 150ms ease;

  &:hover {
    box-shadow: 0 0 0 1px c('border', 0.2), $shadow-lg;
  }

  &:focus {
    @include outline-none;
    box-shadow: 0 0 0 2px c('border', 1), $shadow-lg;
  }
}

.icon {
  @include size(sz(5));
  color: c('icon');
}
