@import '../root-abstracts';

@include mq(max, $bp-active-area) {
  .active-content {
    @include sticky(0 x x);
    display: flex;
    justify-content: center;
    padding-bottom: sz(4);
    width: 100%;
  }

  .preview {
    height: 250px;
  }
}

.radio-group {
  @include padding(sz(3));
  border: 1px solid c('border');
  border-radius: sz(2);
}
