.form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.file-drop {
  @include padding(sz(4));
  align-items: center;
  border: 1px solid c('border', 0.4);
  border-radius: sz(2.5);
  cursor: pointer;
  display: flex;
  height: 300px;
  justify-content: center;
  text-align: center;
  width: 100%;

  @include with-motion {
    transition: 150ms ease-out;
  }

  input:focus + &,
  &.file-drop--active {
    background-color: c('bg-tint');
  }
}

.preview {
  background-color: c('bg-tint');
  border-radius: sz(2.5);
  margin-bottom: sz(4);
  height: 300px;
  position: relative;
  width: 100%;

  img {
    @include absolute(sz(4));
    @include size(calc(100% - (#{sz(4)} * 2)));
    object-fit: contain;
  }
}

.reset {
  width: 100%;
}

.footer {
  @include sticky(x x 0 x);
  @include padding(sz(4) x);
  align-items: flex-end;
  display: flex;
  flex: 1;
  width: 100%;
  z-index: 3;

  &::before {
    @include absolute(0 sz(-4) x);
    backdrop-filter: blur(2px);
    background-color: c('bg', 0.7);
    content: '';
    height: sz(6.5);
    mask-image: scrim-gradient(to bottom, 'bg');
  }

  &::after {
    @include absolute(sz(6.5) sz(-4) 0);
    backdrop-filter: blur(2px);
    background-color: c('bg', 0.7);
    content: '';
    pointer-events: none;
  }

  button {
    flex: 1;
    z-index: 2;

    + button {
      margin-left: sz(2);
    }
  }
}
