.page {
  @include padding(sz(4));
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.illo {
  color: $c-illo;
  margin-bottom: sz(6);
  width: min(100%, #{sz(36)});

  svg {
    stroke-width: 1.2;
  }
}

.title {
  @include h1;
  margin-bottom: sz(2);
}

.desc {
  margin-bottom: sz(5);
}
