.form {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.grid-preview {
  @include padding(sz(2));
  height: sz(28);
  width: 100%;
  border-radius: sz(3);
  background-color: c('bg');
  position: relative;
  overflow: hidden;
  margin-bottom: sz(4);

  @include mq($bp-modal-drawer) {
    display: none;
  }
}

.grid-preview__grid {
  height: 100%;
}

.grid-preview__edit {
  @include absolute(x sz(2) sz(2) x);
}

.actions {
  display: flex;
  flex: 1;
  align-items: flex-end;
  padding-bottom: sz(4);

  button {
    width: 100%;

    &:nth-child(1) {
      margin-right: sz(1);
    }

    &:nth-child(2) {
      margin-left: sz(1);
    }
  }
}

.search {
  display: flex;
}

.search__action {
  margin-left: sz(2);
}

:export {
  varBpDrawer: $bp-modal-drawer;
}
