.form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.field {
  + .field {
    margin-top: sz(3);
  }
}

.color-option {
  align-items: center;
  display: flex;
  flex-direction: column;

  &::before {
    @include size(sz(4));
    border-radius: sz(1);
    content: '';
    display: flex;
    background-color: c('bg');
    border: 1px solid c('white');
    @include margin(sz(1) x sz(1));
  }
}

.separator {
  @include margin(sz(5) x sz(4));
  border-color: c('border', 0.2);
}

.danger-zone__label {
  color: c('secondary-text');
  margin-bottom: sz(0.5);
}

.danger-zone__hint {
  @include label;
  margin-bottom: sz(3);
}

.danger-zone__action {
  width: 100%;
}

.actions {
  @include sticky(x x 0);
  align-items: flex-end;
  background-color: c('bg', 0.7);
  display: flex;
  flex: 1;
  margin-top: sz(4);
  padding-bottom: sz(5);

  button {
    width: 100%;
  }
}

//

.grid-block {
  align-items: center;

  @include mq(max, $bp-modal-drawer) {
    display: none;
  }
}

.grid-block__grid-wrapper {
  @include padding(sz(4));
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;

  // Hide the actual scrollbar
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}

.grid-block__grid {
  height: 100%;
}

.grid-block__map {
  display: flex;
  justify-content: center;
  padding-bottom: sz(4);
}
