.form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form__body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.field {
  + .field {
    margin-top: sz(3);
  }
}

.legend {
  @include label;
  margin-bottom: sz(1);
}

.galleries-fieldset {
  @include padding(sz(3));
  border: 1px solid c('border', 0.2);
  border-radius: sz(3);
}

.galleries-fieldset__action {
  margin-bottom: sz(1);
  width: 100%;
}

.empty-state {
  @include padding(sz(4));
  align-items: center;
  color: c('secondary-text');
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  margin-top: sz(4);
  text-align: center;
}

.empty-state__illo {
  color: c('illustration');
  margin-bottom: sz(5);
  width: min(100%, #{sz(45)});

  svg {
    stroke-width: 1.2;
  }
}

.empty-state__text {
  margin-bottom: sz(3);
}

.empty-state__action {
  @media (hover: hover) {
    &:hover {
      color: c('text', 0.5);
    }
  }

  &:focus {
    color: c('text');
  }
}

.gallery {
  @include padding(sz(3) x);
  align-items: center;
  display: flex;

  + .gallery {
    border-top: 1px solid c('border', 0.2);
  }
}

.gallery__preview {
  width: sz(20);
  aspect-ratio: 4 / 3;
  background-color: c('bg');
  border: 1px solid c('border', 0.2);
  border-radius: sz(3);
  margin-right: sz(4);
  overflow: hidden;
}

.gallery__preview__grid {
  transform: translateY(sz(-1));
}

.gallery__meta {
  margin-right: sz(4);
  flex: 1;
}

.gallery__meta__small {
  @include label;
}
