.preview {
  align-items: center;
  display: flex;
  justify-content: center;

  @include mq(max, $bp-modal-drawer) {
    @include padding(sz(4));
    background-color: c('bg-tint');
    border-radius: sz(2.5);
    height: 300px;
    margin-bottom: sz(4);
    width: 100%;
  }

  @include mq($bp-modal-drawer) {
    @include padding(sz(6));
    height: 100%;
    width: 100%;
  }
}

.preview__box {
  background-color: c('bg', 0.5);
  background-size: var(--unit, 0) var(--unit, 0);
  background-image: linear-gradient(to right, c('border', 0.2) 1px, transparent 1px),
    linear-gradient(to bottom, c('border', 0.2) 1px, transparent 1px);
  border: 1px solid c('border');
  border-radius: 1px;
  height: var(--height);
  width: var(--width);

  @include with-motion {
    transition: 300ms $ease-out-expo;
  }

  &.preview__box--hidden {
    display: none;
  }

  @include mq($bp-modal-drawer) {
    background-color: c('bg-tint', 0.5);
  }
}

.form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form__body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.row {
  align-items: flex-end;
  display: flex;
  width: 100%;
  margin-bottom: sz(3);
}

.times-icon {
  @include padding(x sz(3) sz(4));
  color: c('text');

  svg {
    @include size(sz(3));
  }
}

.hint {
  @include padding(sz(3) sz(4) sz(3) sz(10));
  background: c('bg-tint');
  border-radius: sz(2.5);
  display: flex;
  flex-direction: column;
  margin-top: sz(2);
  position: relative;
  width: 100%;
}

.hint__icon {
  @include absolute(sz(3.5) x x sz(3));
  color: c('secondary-text');

  svg {
    @include size(sz(4));
  }
}

.hint__text {
  @include label;
  margin-bottom: sz(1.5);
}
