.active-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include mq($bp-modal-drawer) {
    @include fixed(0 sz(-8) 0 x);
    @include margin(x sz(4));
    background: c('bg');
    border: 1px solid c('white');
    border-radius: sz(4);
    max-width: calc(100vw - 400px - #{sz(8)});
    min-width: calc(100vw - 550px - #{sz(8)});
    overflow: hidden;
    width: calc((2 / 3 * 100vw) - #{sz(8)});
    transform: translateX(100%);
  }
}

.preview {
  align-items: center;
  display: flex;
  justify-content: center;

  @include mq(max, $bp-modal-drawer) {
    @include padding(sz(4));
    background-color: c('bg-tint');
    border-radius: sz(2.5);
    height: 300px;
    margin-bottom: sz(4);
    width: 100%;
  }

  @include mq($bp-modal-drawer) {
    @include padding(sz(6));
    height: 100%;
    width: 100%;
  }
}

.preview__box {
  background-color: c('bg', 0.5);
  background-size: var(--unit, 0) var(--unit, 0);
  background-image: linear-gradient(to right, c('border', 0.2) 1px, transparent 1px),
    linear-gradient(to bottom, c('border', 0.2) 1px, transparent 1px);
  border: 1px solid c('border');
  border-radius: 1px;
  height: var(--height);
  width: var(--width);

  @include with-motion {
    transition: 300ms $ease-out-expo;
  }

  &.preview__box--hidden {
    display: none;
  }

  @include mq($bp-modal-drawer) {
    background-color: c('bg-tint', 0.5);
  }
}

.form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.row {
  align-items: flex-end;
  display: flex;
  width: 100%;
  margin-bottom: sz(3);
}

.times-icon {
  @include padding(x sz(3) sz(4));
  color: c('text');

  svg {
    @include size(sz(3));
  }
}

.hint {
  @include padding(sz(3) sz(4) sz(3) sz(10));
  background: c('bg-tint');
  border-radius: sz(2.5);
  display: flex;
  flex-direction: column;
  margin-top: sz(2);
  position: relative;
  width: 100%;
}

.hint__icon {
  @include absolute(sz(3.5) x x sz(3));
  color: c('secondary-text');

  svg {
    @include size(sz(4));
  }
}

.hint__text {
  @include label;
  margin-bottom: sz(1.5);
}

.footer {
  @include sticky(x x 0 x);
  @include padding(sz(4) x);
  align-items: flex-end;
  display: flex;
  flex: 1;
  width: 100%;
  z-index: 3;

  &::before {
    @include absolute(0 sz(-4) x);
    backdrop-filter: blur(2px);
    background-color: c('bg', 0.7);
    content: '';
    height: sz(6.5);
    mask-image: scrim-gradient(to bottom, 'bg');
  }

  &::after {
    @include absolute(sz(6.5) sz(-4) 0);
    backdrop-filter: blur(2px);
    background-color: c('bg', 0.7);
    content: '';
    pointer-events: none;
  }

  button {
    flex: 1;
    z-index: 2;

    + button {
      margin-left: sz(2);
    }
  }
}
