.page {
  display: flex;
  flex: 1;
  background-color: c('bg');
  overflow-x: auto;

  // Hide the scrollbar
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}

.header {
  @include sticky($nav-height x x x);
  @include padding(sz(4));
  align-items: flex-start;
  display: flex;
  width: calc(100% / 3);
  flex-shrink: 0;
  flex-direction: column;
  height: calc(100vh - #{$nav-height});
  min-width: 400px;
  max-width: 550px;
}

.title {
  @include h1;
}

.user-tag {
  margin-left: sz(1);
  margin-bottom: sz(1);
}

.established {
  @include small;
  margin-bottom: sz(4);
}

.actions {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: sz(4);
}

.actions__item {
  + .actions__item {
    margin-top: sz(2);
  }
}

.main {
  display: flex;
  flex: 2;
  padding-left: sz(4);
  position: relative;
}

.grid {
  color: c('border', 0.2);
}
