$c-white: #ffffff;
$c-black: #000000;

$c-red-500: #ff3737;

$c-yellow-500: #ffaf37;

$c-mint-200: #f0f2ea;
$c-mint-300: #dde1d2;
$c-mint-400: #b6bba8;
$c-mint-600: #8c8e84;
$c-mint-700: #6a715c;
$c-mint-800: #585f3c;
$c-mint-900: #4e533f;

$c-pink-200: #f6efe8;

$c-navy-50: #101824;
$c-navy-100: #161f2e;
$c-navy-200: #232e3f;
$c-navy-800: #6582ab;

$c-paper-200: #f8f8f8;
$c-paper-300: #eaeaea;

////////////////////////////////////

$ff-name-migra: 'Migra Web';
$ff-name-plex: 'IBM Plex Sans';

$ff-serif: $ff-name-migra, serif;
$ff-sans: $ff-name-plex, sans-serif;

$fw-normal: 400;
$fw-medium: 500;

$fs-xs: sz(3);
$fs-sm: sz(3.5);
$fs-md: sz(4);
$fs-base: $fs-md;
$fs-lg: sz(4.5);
$fs-xl: sz(5);
$fs-2xl: sz(6);
$fs-3xl: sz(7.5);

////////////////////////////////////

$shadow-lg: 0 10px 15px -3px c('black', 0.1), 0 4px 6px -2px c('black', 0.05);

////////////////////////////////////

$z-fab: 100;
$z-popover: 110;

////////////////////////////////////

$ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
$ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
$ease-in-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);

$ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease-in-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);

$ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-in-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);

$ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-in-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);

$ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
$ease-in-out-quint: cubic-bezier(0.23, 1, 0.32, 1);

$ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-in-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
$ease-in-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);

$ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);
