.wrapper {
  position: relative;
  width: 100%;
}

.select {
  @include padding(sz(2) sz(9) sz(2) sz(3));
  appearance: none;
  background-color: c('bg-tint', 0);
  border: 1px solid c('border', 0.2);
  border-radius: sz(2.5);
  cursor: pointer;
  width: 100%;

  @include with-motion {
    transition: 150ms ease-out;
  }

  &:focus {
    @include outline-none;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:not(:disabled) {
    @media (hover: hover) {
      &:hover {
        background-color: c('bg-tint');
        border: 1px solid c('border', 0.4);
      }
    }

    &:focus {
      background-color: c('bg-tint');
      border: 1px solid c('border');
    }
  }
}

.caret {
  @include absolute(50% sz(3) x x);
  @include size(sz(3));
  transform: translateY(-50%);
  pointer-events: none;

  .select:disabled + & {
    opacity: 0.5;
  }
}
