.page {
  display: flex;
  flex: 1;
}

.header {
  @include padding(x sz(4) sz(4));
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 400px;
}

.title {
  @include h1;
}

.actions {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: sz(4);
}

.actions__item {
  + .actions__item {
    margin-top: sz(2);
  }
}

.main {
  display: flex;
  flex: 2;
}
