.page {
  display: flex;
  flex: 1;
}

.header {
  @include sticky($nav-height x x x);
  @include padding(sz(4));
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: calc(100vh - #{$nav-height});
  min-width: 400px;
}

.title {
  @include h1;
}

.user-tag {
  margin-left: sz(1);
  margin-bottom: sz(1);
}

.established {
  @include small;
  margin-bottom: sz(4);
}

.actions {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: sz(4);
}

.actions__item {
  + .actions__item {
    margin-top: sz(2);
  }
}

.main {
  display: flex;
  flex: 2;
}

.empty-state {
  @include padding(sz(4));
  align-items: center;
  color: c('secondary-text');
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.empty-state__illo {
  color: $c-illo;
  margin-bottom: sz(5);
  width: min(100%, #{sz(100)});

  svg {
    stroke-width: 1.2;
  }
}

.empty-state__text {
  margin-bottom: sz(3);
}

.empty-state__action {
  @media (hover: hover) {
    &:hover {
      color: c('text', 0.5);
    }
  }

  &:focus {
    color: c('text');
  }
}

.gallery-list {
  @include padding(sz(4) sz(4) x x);
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.gallery-list__item {
  margin-bottom: sz(4);
  width: calc(50% - #{sz(2)});

  &:nth-child(2n + 1) {
    margin-right: sz(2);
  }

  &:nth-child(2n + 2) {
    margin-left: sz(2);
  }
}
