.root {
  @include padding(sz(4));
  @include sticky(0 x x 0);
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: c('bg', 0.8);
  display: flex;
  height: $nav-height;
  justify-content: space-between;
  z-index: $z-nav;
}

.nav__logo {
  display: flex;
  height: sz(8);
  border-radius: sz(1);
  color: c('text');

  &:focus {
    @include outline-none;
    background-color: c('bg');
    box-shadow: 0 0 0 5px c('bg'), 0 0 0 6px c('border', 0.4);
  }
}
