.root {
  height: 100%;
  position: relative;
}

.wrapper {
  background-color: $c-dark-mint;
  height: 100%;

  &--shadow {
    // TODO: scaling shadow with grid
    /* stylelint-disable indentation -- Multiple box-shadows */
    box-shadow: calc(var(--frame-width) * 0.3px) calc(var(--frame-height) * 0.7px)
        calc(var(--frame-depth) * 5px) 1px rgba(#000000, 0.1),
      calc(var(--frame-width) * 0.5px) calc(var(--frame-height) * 0.75px)
        calc(var(--frame-depth) * 5px) -2px rgba(#000000, 0.15),
      calc(var(--frame-width) * -1px) calc(var(--frame-height) * -1px)
        calc(var(--frame-depth) * 7px) 1px rgba(#ffffff, 0.3);
    /* stylelint-enable indentation -- Multiple box-shadows */
  }
}

.frame,
.artwork {
  opacity: 0;

  &.loaded {
    opacity: 1;
  }
}

.window {
  fill: $c-mint;
}

.button {
  @include absolute(0 x x 0);
  @include size(100%);
  @include reset-input;
  cursor: pointer;
}

.details {
  @include absolute(0 0 x x);
  background-color: $c-white;
  border-radius: 6px;
  box-shadow: 0 15px 28px 0 rgba(#585f3c, 0.33);
  transform: translateX(20px) translateX(100%);
  width: 375px;

  &[aria-hidden='true'] {
    pointer-events: none;
    visibility: hidden;
  }
}

.details__header {
  border-bottom: 1px solid $c-dark-mint;
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
}

.details__header__button {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.details__header__group {
  display: flex;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.details__body {
  padding: 20px;
}
