.wrapper {
  display: flex;
  height: 100%;
  position: relative;
}

.root {
  background-color: c('bg-tint');
  height: 100%;
}

.frame {
  opacity: 0;

  &.frame--loaded {
    opacity: 1;
  }
}

.window {
  fill: c('bg');

  &.window--loaded {
    fill: $c-paper-200;
  }
}

.bezel-shadow {
  fill: c('black', 0.2);
}

.mat {
  fill: $c-paper-300;
}

.artwork {
  opacity: 0;

  &.artwork--loaded {
    opacity: 1;
  }
}

.frame-inner-shadow {
  fill: c('black');
}
