.form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.editor {
  @include mq($bp-modal-drawer) {
    @include absolute(0);
  }

  @include mq(max, $bp-modal-drawer) {
    border-radius: sz(4);
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 300px;
    overflow: hidden;
    width: 100%;
    margin-bottom: sz(4);
  }
}

.preview-label {
  display: flex;
  align-items: flex-end;
  flex: 1;
  font-size: $fs-sm;
  color: c('secondary-text');
  margin-bottom: sz(1);
}

.preview {
  @include padding(sz(4));
  background-color: c('bg-tint');
  border-radius: sz(2.5);
  height: 300px;
  width: 100%;
}
