.preview-label {
  font-size: $fs-sm;
  color: c('secondary-text');
  margin-bottom: sz(1);
}

.preview {
  @include padding(sz(4));
  background-color: c('bg-tint');
  border-radius: sz(2.5);
  height: 300px;
  width: 100%;
}
