.root {
  @include padding(sz(0.75) x);
  display: flex;
}

.key {
  @include padding(sz(0.5) sz(1.5) sz(1));
  min-width: sz(5.25);
  background-color: c('bg');
  border-radius: sz(1);
  display: inline-flex;
  font-size: $fs-sm;
  text-align: center;
  justify-content: center;
  line-height: 1;
  position: relative;

  span {
    color: c('text', 1);
  }

  .root--mac &.key--meta {
    span {
      transform: translateY(1.5px);
    }
  }

  &:not(:last-child) {
    margin-right: sz(1);
  }
}
