div.toast {
  background-color: c('white');
  border: 1px solid c('gray');
  border-radius: sz(3);
  box-shadow: none;
  color: c('black');

  &.toast--error {
    border-color: mix($c-red-500, white, 20%);
    color: c('red');
  }
}
