div.toast {
  @include padding(sz(1.5));
  background-color: c('white');
  border: 1px solid c('gray');
  border-radius: sz(3);
  box-shadow: none;
  color: c('black');

  &.toast--error {
    border-color: mix($c-red-500, white, 40%);
    color: c('red');
  }
}

:export {
  varTopOffset: sz(2, px);
  varGutter: sz(1, px);
}
