.grabbing * {
  cursor: -webkit-grabbing !important;
}

.root {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.grid {
  --unit-px: var(--unit-size) * 1px;

  height: calc(var(--grid-height) * var(--unit-px));
  width: calc(var(--grid-width) * var(--unit-px));
  position: relative;
  overflow: hidden;

  background-image: linear-gradient(to right, currentColor 1px, transparent 1px),
    linear-gradient(to bottom, currentColor 1px, transparent 1px);

  background-size: calc(var(--unit-px)) calc(var(--unit-px));
  background-position: -0.5px -0.5px;
}

.item {
  position: absolute;
  left: calc(var(--item-grid-x) * var(--unit-px));
  top: calc(var(--item-grid-y) * var(--unit-px));

  width: calc(var(--item-grid-width) * (var(--unit-px)));
  height: calc(var(--item-grid-height) * (var(--unit-px)));
}

.movable--active {
  position: fixed;
  z-index: 100;
  transform: translate(calc(var(--item-delta-x) * 1px), calc(var(--item-delta-y) * 1px));
}

.drag-handle-instructions {
  display: none;
}
