.grabbing * {
  cursor: -webkit-grabbing !important;
}

.grid {
  --unit-px: var(--unit-size) * 1px;

  height: calc(var(--grid-height) * var(--unit-px));
  width: calc(var(--grid-width) * var(--unit-px));
  position: relative;
  overflow: hidden;

  background-image: repeating-linear-gradient(var(--grid-color) 0 1px, transparent 1px 100%),
    repeating-linear-gradient(90deg, var(--grid-color) 0 1px, transparent 1px 100%);

  background-size: calc(var(--unit-px)) calc(var(--unit-px));

  background-position: 0 0, 0 0, calc(var(--unit-px) * -1) calc(var(--unit-px) * -1),
    calc(var(--unit-px)) calc(var(--unit-px));
}

.item {
  position: absolute;
  left: calc(var(--item-grid-x) * var(--unit-px));
  top: calc(var(--item-grid-y) * var(--unit-px));

  width: calc(var(--item-grid-width) * (var(--unit-px)));
  height: calc(var(--item-grid-height) * (var(--unit-px)));
}

.movable--active {
  position: fixed;
  z-index: 100;
  transform: translate(calc(var(--item-delta-x) * 1px), calc(var(--item-delta-y) * 1px));
}

.drag-handle-instructions {
  display: none;
}
