.root {
  display: block;
}

// Use for SVGs in a square
.root:not(.root--scale-by-height) {
  @include size(100%);
}

// Use for SVGs that are defined by their height
.root.root--scale-by-height {
  height: 100%;
}

.fill {
  fill: currentColor;
}

.stroke {
  fill: none;
  stroke: currentColor;
  stroke-width: 1.2;
}
