.wrapper {
  @include absolute(sz(4));
  @include size(calc(100% - #{sz(8)}));
}

.preview {
  @include absolute(50% x x 50%);
  width: calc(var(--width, 0) * 1px);
  height: calc(var(--height, 0) * 1px);
  // In order:
  // 1)   centers the frame on X/Y
  // 2)   scales to fit on rotation
  // 3,4) rotates frame on 30deg axis (isometric)
  // 5)   centers the frame on Z axis with changing depth
  transform: translate(-50%, -50%) scale(var(--scale, 1)) rotateX(calc(var(--angle, 0) * -1deg))
    rotateY(calc(var(--angle, 0) * 1deg)) translate3d(0, 0, calc(0.5px * var(--depth, 0)));
  transition: transform 300ms ease;
  will-change: transform;

  &,
  > * {
    transform-style: preserve-3d;
  }
}

.preview__front {
  @include absolute(0 x x 0);
  @include size(100%);

  img {
    @include absolute(0);
    @include size(100%);
    object-fit: cover;
  }
}

.preview__top {
  @include absolute(50% x x 50%);
  background-color: var(--color);
  height: calc(var(--depth, 0) * 1px);
  transform: translate(-50%, -50%) rotateX(-90deg) rotateY(180deg)
    translate3d(0, calc(var(--depth, 0) * 0.5px), calc(var(--height, 0) * 0.5px));
  transform-origin: center center;
  width: 100%;
  will-change: transform;
}

.preview__left {
  @include absolute(50% x x 50%);
  background-color: var(--color-shade);
  height: 100%;
  transform: translate(-50%, -50%) rotateX(0) rotateY(90deg)
    translate3d(calc(var(--depth, 0) * 0.5px), 0, calc(var(--width, 0) * -0.5px));
  transform-origin: center center;
  width: calc(var(--depth, 0) * 1px);
  will-change: transform;
}
