.fab {
  @include fixed(x sz(6) sz(6) x);
  display: flex;
  flex-direction: column;
  z-index: $z-fab;
}

.header {
  @include padding(sz(4.5) sz(4));
  background-color: c('bg');
  color: c('text');
  display: flex;
  justify-content: center;

  &.header--editing {
    @include padding(sz(4));
    justify-content: space-between;
  }
}

.header__section {
  align-items: center;
  display: flex;
  flex: 1;

  &:nth-child(1) {
    justify-content: flex-start;
  }

  &:nth-child(2) {
    justify-content: center;
  }

  &:nth-child(3) {
    justify-content: flex-end;
  }
}

.edit-title {
  font-weight: $fw-medium;
  margin-left: sz(4);
}

.title {
  color: c('text');
  font-family: $ff-serif;
  font-size: $fs-3xl;
  line-height: 1;
}
