.button {
  @include padding(sz(2));
  position: relative;

  &::before {
    @include absolute(0);
    background-color: c('bg-tint');
    border-radius: sz(2.5);
    content: '';
    pointer-events: none;
    touch-action: none;
    opacity: 0;
    transform: scale(0.9);
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:not(:disabled) {
    &:hover,
    &:focus {
      &::before {
        opacity: 0.5;
      }
    }

    &:focus {
      &::before {
        opacity: 1;
        transform: scale(1);
        transition: transform 150ms ease, opacity 150ms ease, box-shadow 150ms ease;
      }
    }
  }

  &:focus {
    @include outline-none;
  }
}

.icon {
  @include size(sz(4));
  color: c('text');
  display: block;
  position: relative;
}
