.button {
  @include reset-input;
  @include size(32px);
  @include margin(x -5px);
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  outline: none;
  position: relative;

  &::after {
    @include absolute(0 x x 0);
    @include size(100%);
    background-color: currentColor;
    border-radius: 50%;
    content: '';
    opacity: 0;
    transform: scale(0.95);
    transition: transform 100ms ease-out;
    z-index: -1;
  }

  &:hover {
    &::after {
      opacity: 0.05;
    }
  }

  &:focus {
    &::after {
      opacity: 0.1;
      transform: scale(1.05);
    }
  }
}

.icon {
  @include size(16px);
}
