.wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.label {
  @include label;
  margin-bottom: sz(1);

  @include with-motion {
    transition: 150ms ease-out;
  }

  fieldset:disabled &,
  .wrapper--disabled & {
    opacity: 0.5;
  }
}

.label__optional {
  font-size: $fs-xs;
}

.hint {
  @include label;
  margin-top: sz(1);

  fieldset:disabled &,
  .wrapper--disabled & {
    opacity: 0.5;
  }
}

.error {
  margin-top: sz(1);
  font-size: $fs-sm;
  color: c('red');

  fieldset:disabled &,
  .wrapper--disabled & {
    opacity: 0.5;
  }
}
