@mixin h1 {
  font-size: sz(12.5);
  font-family: $ff-serif;
  line-height: 1;
}

@mixin h2 {
  font-size: sz(6.5);
  font-family: $ff-serif;
}

@mixin h3 {
  font-size: sz(6.5);
}

@mixin small {
  font-size: $fs-sm;
}

@mixin label {
  @include small;
  color: c('secondary-text');
}
