:root.dragging {
  &,
  & * {
    cursor: ew-resize !important;
  }
}

.form-label {
  font-size: $fs-sm;
}

.color-fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: sz(1);

  .form-label {
    margin-bottom: sz(1.5);
  }
}

.color-list {
  display: flex;
}

.color-option {
  &:not(:last-child) {
    margin-right: sz(2);
  }
}

.color-option__item {
  @include size(sz(8));
  display: flex;
  background-color: c('bg');
  border: 1px solid c('border');
  border-radius: 50%;
  box-shadow: 0 0 0 0 c('black');
  cursor: pointer;
  transition: box-shadow 150ms ease-out;

  .color-input:checked + & {
    box-shadow: 0 0 0 1px c('black');
  }

  .color-input:checked:focus + & {
    box-shadow: 0 0 0 2px c('black');
  }
}

.height-fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: sz(4);
}

.height-input {
  border-bottom: 1px solid c('border', 0.5);
  display: flex;
  transition: border-color 150ms ease;

  &:focus-within {
    border-color: c('border', 1);
  }
}

.height-input__inner {
  position: relative;
}

.height-input__fake-value {
  visibility: hidden;
  user-select: none;
  pointer-events: none;
  touch-action: none;
}

.height-input__actual {
  @include absolute(x x x 0);
  @include margin(0);
  width: 100%;
  cursor: ew-resize;

  &:focus {
    @include outline-none;
  }

  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  /* Firefox */
  &[type='number'] {
    -moz-appearance: textfield;
  }
}

.height-input__suffix {
  margin-left: sz(1);
  color: c('secondary-text');
}
