@font-face {
  font-display: swap;
  font-family: 'Migra Web';
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/migra/PPMigra-Regular.woff2') format('woff2'),
    url('/fonts/migra/PPMigra-Regular.woff') format('woff'),
    url('/fonts/migra/PPMigra-Regular.otf') format('opentype'),
    url('/fonts/migra/PPMigra-Regular.ttf') format('truetype'),
    url('/fonts/migra/PPMigra-Regular.eot?#iefix') format('embedded-opentype');
}
