:root {
  --c-white: #{hex-to-rgb($c-white)};
  --c-black: #{hex-to-rgb(#090909)};
  --c-gray: #{hex-to-rgb($c-gray)};
  --c-red: #{hex-to-rgb($c-red-500)};
  --c-yellow: #{hex-to-rgb($c-yellow-500)};
}

:root,
.theme--paper {
  --c-bg: #{hex-to-rgb(#f8f8f8)};
  --c-bg-tint: #{hex-to-rgb(#ebebeb)};
  --c-icon: #{hex-to-rgb(#090909)};
  --c-text: #{hex-to-rgb(#090909)};
  --c-secondary-text: #{hex-to-rgb(#7d7d7d)};
  --c-border: #{hex-to-rgb(#090909)};
  --c-illustration: #{hex-to-rgb(#c5c5c5)};
  --c-shadow: #{hex-to-rgb($c-mint-800)}; // TODO: replace
  --c-highlight: #{hex-to-rgb($c-white)}; // TODO: replace
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-bg: #{hex-to-rgb(#090909)};
    --c-bg-tint: #{hex-to-rgb(#2d2d2d)};
    --c-icon: #{hex-to-rgb(#ffffff)};
    --c-text: #{hex-to-rgb(#ffffff)};
    --c-secondary-text: #{hex-to-rgb(#888888)};
    --c-border: #{hex-to-rgb(#ffffff)};
    --c-illustration: #{hex-to-rgb(#666666)};
    --c-shadow: #{hex-to-rgb(mix($c-white, $c-black, 30%))}; // TODO: replace
    --c-highlight: #{hex-to-rgb($c-navy-800)}; // TODO: replace
  }
}

.theme--ink {
  --c-bg: #{hex-to-rgb(#090909)};
  --c-bg-tint: #{hex-to-rgb(#2d2d2d)};
  --c-icon: #{hex-to-rgb(#ffffff)};
  --c-text: #{hex-to-rgb(#ffffff)};
  --c-secondary-text: #{hex-to-rgb(#888888)};
  --c-border: #{hex-to-rgb(#ffffff)};
  --c-illustration: #{hex-to-rgb(#666666)};
  --c-shadow: #{hex-to-rgb(mix($c-white, $c-black, 30%))}; // TODO: replace
  --c-highlight: #{hex-to-rgb($c-navy-800)}; // TODO: replace
}

.theme--mint {
  --c-bg: #{hex-to-rgb(#f0f2ea)};
  --c-bg-tint: #{hex-to-rgb(#e6e9dd)};
  --c-icon: #{hex-to-rgb(#3e4233)};
  --c-text: #{hex-to-rgb(#3e4233)};
  --c-secondary-text: #{hex-to-rgb(#8b9278)};
  --c-border: #{hex-to-rgb(#3e4233)};
  --c-illustration: #{hex-to-rgb(#a8b489)};
  --c-shadow: #{hex-to-rgb($c-mint-800)}; // TODO: replace
  --c-highlight: #{hex-to-rgb($c-white)}; // TODO: replace
}

.theme--rose {
  --c-bg: #{hex-to-rgb(#fcf1ec)};
  --c-bg-tint: #{hex-to-rgb(#f8e5e1)};
  --c-icon: #{hex-to-rgb(#884a4a)};
  --c-text: #{hex-to-rgb(#884a4a)};
  --c-secondary-text: #{hex-to-rgb(#bb8e8e)};
  --c-border: #{hex-to-rgb(#884a4a)};
  --c-illustration: #{hex-to-rgb(#dcbab8)};
  --c-shadow: #{hex-to-rgb($c-mint-800)}; // TODO: replace
  --c-highlight: #{hex-to-rgb($c-white)}; // TODO: replace
}

.theme--navy {
  --c-bg: #{hex-to-rgb(#232e3f)};
  --c-bg-tint: #{hex-to-rgb(#2f3d4e)};
  --c-icon: #{hex-to-rgb(#c1d6e4)};
  --c-text: #{hex-to-rgb(#c1d6e4)};
  --c-secondary-text: #{hex-to-rgb(#728291)};
  --c-border: #{hex-to-rgb(#c1d6e4)};
  --c-illustration: #{hex-to-rgb(#8496ac)};
  --c-shadow: #{hex-to-rgb($c-navy-50)}; // TODO: replace
  --c-highlight: #{hex-to-rgb($c-navy-800)}; // TODO: replace
}
