@keyframes nav-enter {
  0% {
    max-height: 0px;
  }
  99% {
    max-height: var(--nav-height);
  }
  100% {
    max-height: initial;
  }
}

@keyframes nav-leave {
  0% {
    max-height: var(--nav-height);
    visibility: visible;
  }
  99% {
    max-height: 0px;
    visibility: visible;
  }
  100% {
    max-height: 0px;
    visibility: hidden;
  }
}

$anim-duration: 500ms;

.root {
  overflow: hidden;

  &.root--visible {
    animation: nav-enter $anim-duration $ease-out-expo 1 forwards;
  }

  &.root--hidden {
    animation: nav-leave $anim-duration $ease-out-expo 1 forwards;
    visibility: hidden;
  }
}

.nav__replaceable-content {
  > *:not(:global(.no-replace)):not(:first-child) {
    display: none;
    visibility: hidden;
  }
}

.nav__sections {
  @include padding(sz(4.5) sz(4));
  display: flex;
  flex: 1;
}

.nav__sections__item {
  display: flex;
  flex: 1;
  align-items: center;

  &:nth-child(1) {
    justify-content: flex-start;
  }

  &:nth-child(2) {
    justify-content: center;
  }

  &:nth-child(3) {
    justify-content: flex-end;
  }
}

.nav__logo {
  display: flex;
  height: sz(8);
}

:export {
  varAnimDuration: $anim-duration;
}
